
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrarynativeipification">
          <uses-permission android:name="android.permission.INTERNET" />
          <application>
            <activity
                android:name="com.ipification.mobile.sdk.im.ui.IMVerificationActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustPan"
                android:launchMode="singleInstance"
                android:theme="@style/IPTheme"
                >
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <category android:name="android.intent.category.DEFAULT" />

                </intent-filter>
            </activity>
           
        </application>

        
</manifest>
